$content-width: 800px;
$page-bg: #DDDDDD;
$font-style: 'Open Sans', sans-serif;
$font-color: #000000;
$link-color: #007CFF;
$link-hover-color: #80AADD;
$heading-font: 'Muli', sans-serif;
$heading-font-color: #000000;