// Site-wide

body {
    background: $page-bg;
	margin: 0;
	color: $font-color;
	font-family: $font-style;
	font-size: 1em;
	line-height: 1.6;
	-webkit-font-smoothing: antialiased;
    min-width: $min-width;
}

h1, h2, h3 {
	font-weight: 600;
	color: $heading-font-color;
	font-family: $heading-font;
	line-height: 1.5;
}

h1 {
	font-size: 2em;
}

h2 {
	font-size: 2em;
}

h3 {
    font-size: 1.6em;
}

h4 {
    font-size: 1.2em;
}

main {
	padding: 0 15px;
	max-width: $content-width;
	margin: 70px auto;
}


#navmenu {
	position: absolute;
	top: 0;
	left: 0;
	@include gradfill((#000, #111, #333, #777));
    height: 50px;
	width: 100%;
	border-bottom: 1px solid #888;
    z-index: 2;
    min-width: $min-width;
    
    #navbox {
        max-width: $content-width;
        height: 100%;
        margin: 0 auto;

        header {
            color: #FFF;
            font-weight: 600;
            font-size: 2em;
            height: 100%;
            text-align: left;
            float: left;
            a, a:visited {
            text-decoration: none;
            color: #EEE;
            }
            a:hover {
                text-decoration: none;
                color: $lblu;
            }
        }
    
        nav {
            float: right;
            margin: 0 auto;
            ul {
                margin: 0;
                padding: 0;
                list-style: none;
                li {
                    float: left;
                    position: relative;
                    a {
                        color: #CCC;
                        text-decoration: none;
                        display: block;
                        padding: 15px;
                        font-family: 'Muli', sans-serif;
                        line-height: 20px;
                        margin-bottom: -1px;
                        &:hover, &:active {
                            @include gradfill((#111, #222, #555, #888));
                            text-decoration: none;
                            font-weight: bold;
                            color: #FFF;
                            border-bottom: 6px solid $lblu;
                        }
                    }
                }
            }
        }
    }
}

.container {
	max-width: $content-width;
	margin: 0 auto 20px;
    position: relative;
    display: block;
    overflow: hidden;        
}

.banner {
    width: 100%;
    @include photo-content("featured/neuronsbanner.png");
}

footer {
	text-align: center;
    padding-top: 50px;
}



// Home

#intro {
    margin: 0px 20px 20px 20px;
}

#special {
    padding: 0 0 20px 20px;
    border: 3px outset lighten(#FFD644, 25%);
    @include gradfill((#FFEDAD, #FFC700, #FFDD66));
    
    #txt {
        display:inline-block;
        margin-top: 22px;
    }
}

.fdesc {
    margin-left: 20px;
    width: 40%;
    float: left;
}

.fmedia {
    margin-left: 50%;
    margin-right: 20px;
    overflow: hidden;
    
    .fcardbox {
        width: 100%;
        height: 130px;
        margin-bottom: 20px;
    }
    
    .fphoto {
        width: 100%;
        height: 100%;
        border: 2px solid black;
        @include box-sizing(border-box);
        @include transition(0.3s);
        @include transform-style(preserve-3d);
        
        .front, .back {
            background: #F4F4F4;
            width: 100%;
            height: 100%;
            position: absolute;
            @include backface-visibility;
        }
    
        .front {
            @include photo-content("featured/libraryBANES.PNG");
        }
        #ftdtvod {
            @include photo-content("tdtvod/day01.jpg");
        }
    
        .back {
            @include transform(rotateX(180deg));
            @include box-sizing(border-box);
            @include backface-visibility;
            font-weight: bold;
            padding: 15px;
        
            .linkbox {
                color: #CCC;
                width: 90px;
                height: 42px;
                position: absolute;
                right: 15px;
                bottom: 15px;
                text-align: center;
                line-height: 250%;
                @include box-sizing(border-box);
                
                @include gradfill((#999, #444, #000, #111, #333, #777));
                
                &:hover, &:active {
					text-decoration: none;
                    font-weight: bold;
                    color: #FFF;
                    box-shadow: 0px 0px 15px $sblu;
                }
            }
        }
    }
    
    .fcardbox:hover .fphoto {
        @include transform(rotateX(180deg));
    }
    
    #link1 {
        float: left;
    }
    
    #link2 {
        float: right;
    }
}    

.flbox {
    width: 45%;
    height: 60px;
    margin: 5px;
    padding: 5px 8px;
    color: #CCC;
    text-align: center;
    overflow: hidden;
    @include box-sizing(border-box);
    @include gradfill((#999, #444, #000, #111, #333, #777));
    
    .flphoto {
        height: 100%;
        float: left;
        opacity: 0.7;
    }
    
    #githublogo {
        @include photo-content("featured/githublogo.png");
    }
    #meetuplogo {
        @include photo-content("featured/meetuplogo.png");
    }

    &:hover, &:active {
		text-decoration: none;
        font-weight: bold;
		color: #FFF;
        box-shadow: 0px 0px 15px $sblu;
	}
    
    &:hover .flphoto, &:active .flphoto {
        opacity: 1;
        @include transform(scale(1.1));
    }
    
    &#buildnn {
        width: 200px;
        float: right;
        margin-right: 20px;
        line-height: 300%;
        &:hover, &:active {
            box-shadow: 0px 0px 20px adjust-hue($lblu, 10%);
        }
    }
    
    #folderlogo {
        @include photo-content("featured/folderlogo.png");
    }
}

.cardbox {
    width: 350px;
    height: 220px;
    display: inline-block;
    margin: 20px;
}

.minicardbox {
    width: 240px;
    height: 150px;
    display: inline-block;
    margin: 10px;
}

.projectcard {
    width: 100%;
    height: 100%;
    background: white;
    border: 2px solid black;
    @include box-sizing(border-box);
    @include transition(0.3s);    
    @include transform-style(preserve-3d);
    
    .front, .back {
        background: #F4F4F4;
        width: 100%;
        height: 100%;
        position: absolute;
        @include backface-visibility;
    }
    
    .front {
        // Home
        
        #markov &{
            @include photo-content("featured/churchill.jpg");
        }
        #h2o &{
            @include photo-content("featured/paddle.jpg");
        }
        #digitrecognition &{
            @include photo-content("featured/digitrecognition.png");
        }
        #backpropagation &{
            @include photo-content("featured/netdiag1jpg.jpg");
        }
        #gettinghtmldata &{
            @include photo-content("featured/ratesofpay.png");
        }
        #tdtvod &{
            @include photo-content("featured/day01.jpg");
        }
        #ieautomation &{
            @include photo-content("featured/ieautomation.PNG");
        }
        #rstudiosettings &{
            @include photo-content("featured/rstudiosettings.png");
        }
        #snippets &{
            @include photo-content("featured/snippetsopt.PNG");
        }
        #alias &{
            @include photo-content("featured/alias.PNG");
        }
        
        // TDTVOD
        #d00-05 &{
            @include photo-content("tdtvod/day05.jpeg");
        }
        #d06-10 &{
            @include photo-content("tdtvod/day07final.jpeg");
        }
        #d11-15 &{
            @include photo-content("tdtvod/day11.jpeg");
        }
        #d16-20 &{
            @include photo-content("tdtvod/day17.jpeg");
        }
        #d21-25 &{
            @include photo-content("tdtvod/day23.jpeg");
        }
        #d26-30 &{
            @include photo-content("tdtvod/day26.jpeg");
        }
    }
    
    .back {
        @include transform(rotateX(180deg));
        @include box-sizing(border-box);
        @include backface-visibility;
        padding: 15px;
        
        .projectname {
            font-weight: bold;
            margin-bottom: 10px;
            @include backface-visibility;
        }
        
        .linkbox {
            color: #CCC;
            width: 90px;
            height: 42px;
            position: absolute;
            right: 15px;
            bottom: 15px;
            text-align: center;
            line-height: 250%;
            @include box-sizing(border-box);
            
            @include gradfill((#999, #444, #000, #111, #333, #777));
            
            &:hover, &:active {
						text-decoration: none;
                        font-weight: bold;
						color: #FFF;
                        box-shadow: 0px 0px 15px $sblu;
			}
        }
    }
}

.cardbox:hover .projectcard {
    @include transform(rotateX(180deg));
}

.minicardbox:hover .projectcard {
    @include transform(rotateX(180deg));
}


// Postindex

#postlist {
    li {
        margin: 10px auto;
    }
}


// Contact

#contacts {
    text-align: center;
}
    
.anchorbox {
    display: inline-block;
    width: 20%;
    height: 60px;
    margin: 10px;
    a {
        text-decoration: none;
    }
}

.contactbox {
    width: 100%;
    height: 100%;
    padding: 5px 8px;
    color: #CCC;
    text-align: center;
    line-height: 300%;
    overflow: hidden;
    @include box-sizing(border-box);
    @include gradfill((#999, #444, #000, #111, #333, #777));
    
    a {
        width: 100%;
        height: 100%;
    }
    
    .flphoto {
        height: 100%;
        float: left;
        opacity: 0.7;
    }
    
    #emaillogo {
        @include photo-content("contact/emaillogo.png");
    }
    #githublogo {
        @include photo-content("contact/githublogo.png");
    }
    #linkedinlogo {
        @include photo-content("contact/linkedinlogo.png");
    }
    #twitterlogo {
        @include photo-content("contact/twitterlogo.png");
    }

    &:hover, &:active {
		text-decoration: none;
        font-weight: bold;
		color: #FFF;
        box-shadow: 0px 0px 15px $sblu;
	}
    
    &:hover .flphoto, &:active .flphoto {
        opacity: 1;
        @include transform(scale(1.1));
    }
}


// Posts

.timestamp {
    font-weight: bold;
    color: #999;
    margin: 0 auto 20px;
}

.content {
    position: relative;
    margin: 0 20px;
}

hr {
    margin: 30px auto;
    &#posttitle {
        margin: 30px auto 0px;
    }
}

iframe {
    max-width: $media-maxw;
    display: block;
    margin: 20px auto;
}

table {
    margin: 20px auto;
    text-align: center;
    border-collapse: separate;
    border-spacing: 50px 0;
}

.captfigure {
    display: table;
    margin: 20px auto;
    text-align: center;
    img {
        display: block;
        width: 100%;
    }
    figcaption {
        display: table-caption;
        caption-side: bottom;
        font-size: 0.8em;
        background: lighten($page-bg, 10%);
    }
}

.cimg {
    max-width: $media-maxw;
    max-height: $media-maxw;
    display: block;
    margin: 20px auto;
}

.highlight {
    background: lighten($page-bg, 5%);
    margin: 30px auto;
    padding: 10px;
    overflow-x: auto;
    word-wrap: normal;
    code {
        background: none;
        margin: 0;
    }
}

code {
    font-family: "Lucida Console";
    font-size: 0.9em;
    margin: auto 0.2em;
    background: lighten($page-bg, 5%);
}

.photoib {
    text-align: center;
    width: 100%;
    display: inline-block;
    margin: 10px;
    
    &#day301 {
        @include photo-content("tdtvod/day301.jpg");
    }
    &#day302 {
        @include photo-content("tdtvod/day302.jpg");
    }
    &#day303 {
        @include photo-content("tdtvod/day303.jpg");
    }
}

.backbox {
    color: #CCC;
    width: 140px;
    height: 50px;
    margin: 10px;
    float: left;
    clear: both;
    text-align: center;
    line-height: 300%;
    @include box-sizing(border-box);
    
    @include gradfill((#999, #444, #000, #111, #333, #777));
    
    &:hover, &:active {
		text-decoration: none;
        font-weight: bold;
		color: #FFF;
        box-shadow: 0px 0px 15px $sblu;
	}
}

video {
    margin: 20px auto;
    display: block;
    max-width: $media-maxw;
    text-align: center;
}

#comments {
    padding: 0 20px;
}

